.content {
    display: flex;
    flex-direction: column;
    padding-left: 86px;
    min-height: 100%;
}

.header {
    margin-left: 25px;
    margin-top: 46px;
    font-size: 26px;
    font-weight: 700;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    margin-top: 76px;
    margin-right: 30px;
}

.project_preview {
    width: 315px;
    height: 220px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px #161B1D3B,
        -5px -5px 10px 0px #FAFBFF;
    transition: 0.25s ease;
    cursor: pointer;
}

.project_preview:hover {
    box-shadow: 0px 0px 15px 5px #FFFFFF;
    transform: translateY(-10px);
}

.project_name {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-top: 14px;
    margin-left: 25px;
}