.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #00000026;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 67px;
}

.zoomOut {
    display: none;
}

.close_profile_form_button {
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    left: 90%;
    font-size: 3em;
    color: #989898;
    cursor: pointer;
}

.profile_form {
    width: 85%;
    height: auto;
    background-color: #E7E7E7;
    box-shadow: 5px 5px 10px 0px #161B1D3B,
        -5px -5px 10px 0px #D4D4D4;
    border-radius: 20px;
    padding-left: 28px;
    /* padding-right: 30px; */
    padding-top: 26px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items:start; */
}

.profile_content {
    display: flex;
    flex-direction: column;
    margin-right: 31px;
}

.content_element:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar>img {
    height: 80px;
}

.avatar_change_button {
    background: linear-gradient(to right, #BED961, #57B551);
    width: 145px;
    height: 25px;
    text-shadow: 3px 3px 4px 0px #00000059;
    border-radius: 21px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: -5px -5px 10px 0px #FAFBFF,
        5px 5px 10px 0px #161B1D3B;
    transition: box-shadow 0.25s ease;
    margin-left: 24px;
}

.avatar_change_button:hover {
    box-shadow: none;
}

.content_element:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.sub_element {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #929292;
}

.sub_element:nth-child(1) {
    padding-top: 0;
}

.sub_element:nth-last-child(1),
.sub_element:nth-last-child(2) {
    border-bottom: 1px solid #929292;
}

.sub_element:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_header {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 28px;
}

.user_input {
    margin-bottom: 12px;
}

.input_header {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    color: #0000004D;
    margin-left: 20px;
}

.input_info {
    position: relative;
    width: 100%;
}

.input_info>input {
    min-width: 200px;
    width: 95%;
    height: 35px;
    border-radius: 21px;
    background-color: #E7E7E7;
    box-shadow: -5px -5px 10px 0px #FAFBFF,
        5px 5px 10px 0px #161B1D3B;
    font-size: 16px;
    font-weight: 400;
    color: black;
    outline: none;
    border: none;
    padding-left: 30px;
    padding-right: 45px;
}

.save_changes_button {
    background: linear-gradient(to right, #BED961, #57B551);
    width: 201px;
    height: 30px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 3px 3px 4px 0px #00000059;
    box-shadow: -5px -5px 10px 0px #FAFBFF,
        5px 5px 10px 0px #161B1D3B;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
}

.save_changes_button:hover {
    box-shadow: none;
}

.input_hidder {
    position: absolute;
    top: 26%;
    right: 7%;
    display: block;
    cursor: pointer;
}

.input_hidden {
    background-image: url('./input_hidden_icon_mobile.svg');
    height: 15px;
    width: 17px;
}

.input_visible {
    background-image: url('./input_visible_icon_mobile.svg');
    height: 13px;
    width: 18px;
    top: 30%;
}