.weather_form {
    width: 403px;
    height: 230px;
    border-radius: 21px;
    padding: 30px;
    background: #E7E7E7;

}
.plan_message{
    width: 403px;
    height: 230px;
    border-radius: 21px;
    padding: 30px;
    background: #E7E7E7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}


.current_weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #7A7A7A;
}

.current_weather_temp {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #3D3D3D;

}

.current_weather_desc {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 1px;
    background: #A9E18F;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D3D3D;

}

.current_weather_date {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #3D3D3D;

}

.current_weather_hourly {
    display: flex;
    align-items: center;
    padding-top: 22px;
    overflow-y: auto;
}

.weather_hourly {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.weather_time {
    position: relative;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #3D3D3D;
}

.minutes {
    position: absolute;
    top: -2px;
    /* Расположение минут относительно часов */
    right: -10px;
    font-size: 8px;
    /* Размер минут */
}

.weather_icon {
    margin-top: 7px;
    margin-bottom: 5px;
}

.weather_temp {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #3D3D3D;
}

.current_weather_date {
    position: relative;
}

.current_weather_date select {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #E7E7E7;
    color: #1c097d;
    font-size: 16px;
    font-weight: 700;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;

}

.current_weather_date::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    color: #3D3D3D;
    font-size: 16px;
}

.current_weather_date select:focus {
    border-color: #A9E18F;
    color: #563535;
}



.current_weather_date select option {
    font-size: 16px;
    font-weight: 700;
    background: #E7E7E7;
    color: #3D3D3D;
    padding: 12px;
}