.prices {
    display: flex;
    margin-bottom: 86px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.plan {
    max-width: 392px;
    min-height: 414px;
    border-radius: 20px;
    background-color: #E7E7E7;
    box-shadow: 5px 5px 10px 0px #161B1D3B,
        -5px -5px 10px 0px #FAFBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 37px;
}

.plan_name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}

.price {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;

}

.length {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.plan_change_button {
    width: 162px;
    height: 30px;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;

    box-shadow: -5px -5px 10px 0px #FAFBFF,
        5px 5px 10px 0px #161B1D3B;
    background: linear-gradient(270deg, #57B551 0%, #BED961 100%);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
   
    transition: box-shadow 0.25s ease;
    cursor: pointer;
   
}
.plan_change_button>a{
    text-decoration: none;
    color: #FFFFFF;
}
.hovered:hover{
    box-shadow: none;
}

.current {
    background-color: #E7E7E7;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background: none;
    color: #000000;
    cursor: default;
}

.abilities {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.ability {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.inactive {
    background-image: url('./inactive_icon.svg');
    width: 22px;
    height: 22px;

}

.active {
    background-image: url('./active_icon.svg');
    width: 22px;
    height: 22px;

}

.description {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}