.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .button {
    background: linear-gradient(to right, #BED961, #57B551);
    padding: 1px 35px 1px 35px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 3px 3px 4px 0px #00000059;

    box-shadow: -5px -5px 10px 0px #FAFBFF,
        5px 5px 10px 0px #161B1D3B;
    border-radius: 21px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.25s ease;
    border: none;
    width: 100%;
  }
  .button:hover{
    box-shadow: none;
}